@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

@theme {
  --color-brand-primary: #ff6428;
  --color-brand-secondary: #ffcd45;

  --font-display: 'Dosis', sans-serif;
}

body {
  font-family: var(--font-display);
}

.router-link-active {
  @apply filter-none;
}

.router-link-active span {
  @apply font-bold;
}

.pb-safe {
  padding-bottom: calc(5rem + env(safe-area-inset-bottom));
}